html
	head
		title Salutis
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		section.main-container
			div.gradient
				div.container
					div.row
						div.col-sm-8.col-sm-offset-2
							img(src="img/salutis(logo).svg")
							h1 El expediente clínico más poderoso del mercado
							h4 Controla y administra los expedientes de tus pacientes desde tu iphone o PC, revisa tus citas y comparte expedientes con otros colegas.
							div.form-group
								button.btn.btn-default.btn-lg(type='submit') Prueba ahora
		section.info-content
			div.container
				div.row
					div.col-sm-12
						h1 ¿Qué es salutis?
						h4 Plataforma web que le permite acceder a su información en cualquier momento y en cualquier lugar utilizando cualquiera de sus versiones (pro, Evidentia, ipad).
						div.form-group
							button(type='submit') Conoce más
		section.benefits
			div.container
				div.row
					div.col-sm-12
						h1 Beneficios
				div.row
					div.col-sm-3.col-sm-offset-2
						img(src="img/agenda.svg")
						h4 Agenda dinámica
						p Lleva el control de las citas de sus consultorios e informa los pacientes que se encuentran en espera o cancelaron su cita.
					div.col-sm-3
						img(src="img/historial.svg")
						h4 Historial de consulta
						p Visualiza toda la información de las consultas anteriores al momento de consultar.
					div.col-sm-3
						img(src="img/exportar.svg")
						h4 Exportación de expedientes
						p Exporta todo los expedientes registrados de sus pacientes cuando lo desee.
				div.row
					div.col-sm-12
						div.form-group
							buttonbtn.btn-default.btn-lg(type='submit') Conoce más
		section.features
			div.container
				div.col-sm-4.col-sm-offset-2
					h2 Salutis PRO
					p Es el software de expediente clínico electrónico mús completo el cual le permitirá:
						ul
							li Control de agenda dinámica.
							li Registro de pacientes.
							li Antecedentes.
							li Impresión del expediente clínico completo.
					h4 Costo del servicio mensual $499.00 + IVA. 
					p Pesos mexicanos incluye:
						ul
							li Licencia médico
							li Licencia asistente (agenda dinámica)
							li Acceso iPhone (app gratis)
							
				div.col-sm-4
					img(src="img/laptop.svg")
		section.form-content
			div.container
				div.col-sm-4.col-sm-offset-2
					h2 ¿Ya te haz subscrito?
					h3 Obtén 30 dias gratis
					p Suscríbase, active su tarjeta prepago o renueve su suscripción. 
				div.col-sm-4
					form
						div.form-group
							input.form-control(type='text' placeholder='Email')
						div.form-group
							input.form-control(type='text' placeholder='Password')
						div.form-group
							input.form-control(type='text' placeholder='Nombre completo')
						div.form-group
							input.form-control(type='text' placeholder='Número de tajeta')
						div.form-group
							div.row
								div.col-xs-3
									select.form-control.col-sm-2(name='expiry-month') expira
										option Mes
										option(value='01') ene (01)
										option(value='02') feb (02)
										option(value='03') mar (03)
										option(value='04') abr (04)
										option(value='05') may (05)
										option(value='06') jun (06)
										option(value='07') jul (07)
										option(value='08') ago (08)
										option(value='09') sep (09)
										option(value='10') oct (10)
										option(value='11') nov (11)
										option(value='12') dic (12)
								div.col-xs-3
									select.form-control
										option(value='13') 2013
										option(value='14') 2014
										option(value='15') 2015
										option(value='16') 2016
										option(value='17') 2017
										option(value='18') 2018
										option(value='19') 2019
										option(value='20') 2020
										option(value='21') 2021
										option(value='22') 2022
										option(value='23') 2023
								div.col-xs-4
									input.form-control(type='text' placeholder='Card CVV')
						div.form-group
							button.btn.btn-primary.btn-lg(type='submit') Iniciar la prueba
		footer.salutis-footer
			div.container
				div.row
					div.col-sm-3
						img.img-responsive(src="img/salutis(logo).svg")
					div.col-sm-3
						
						p Salutis® Medical Software Río San Lorenzo Ote. 39-A Col. Guadalupe C.P. 80220 Culiacán, Sinaloa, Mexico
					div.col-sm-3
						p Tel: + 52 (667) 716 1787 / 712 1639
						p E-mail: info@salutis.mx
					







